@{
    Layout = "_ConfigurePlugin";
}
@model Nop.Plugin.Payments.Skrill.Models.ConfigurationModel

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentSkrill" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <p>If you're using this gateway ensure that your primary store currency is supported by Skrill.</p>
                <div>
                    Signup for a Skrill test account:
                    <ul>
                        <li>Sign up for a Skrill “Business account”. Do not use the same email you’ll be using for your real account.</li>
                        <li>Sign up for a Skrill “Personal account”. Use a different email than the “Business account”. Do not use the same email you’ll be using for your real account.</li>
                        <li>
                            Contact Skrill and ask them to convert these 2 accounts to test accounts. It doesn’t need to be a long email. Just something simple like:<br>
                            We need you to turn 2 accounts to test accounts:<br>
                            “Buyer account”: <br>
                            Email: buyer-email@example.com<br>
                            Customer ID: 12456789<br>
                            “Merchant account”: <br>
                            Email: merchant-email@example.com<br>
                            Customer ID: 98765421
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayToEmail_OverrideForStore" asp-input="PayToEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayToEmail" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayToEmail" />
                        <span asp-validation-for="PayToEmail"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SecretWord_OverrideForStore" asp-input="SecretWord" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SecretWord" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretWord" />
                        <span asp-validation-for="SecretWord"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
