@{
    Layout = "";
}
@model Nop.Plugin.Payments.Skrill.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <p>If you're using this gateway ensure that your primary store currency is supported by Skrill.</p>
                <div>
                    Signup for a Skrill test account:
                    <ul>
                        <li>Sign up for a Skrill “Business account”. Do not use the same email you’ll be using for your real account.</li>
                        <li>Sign up for a Skrill “Personal account”. Use a different email than the “Business account”. Do not use the same email you’ll be using for your real account.</li>
                        <li>
                            Contact Skrill and ask them to convert these 2 accounts to test accounts. It doesn’t need to be a long email. Just something simple like:<br>
                            We need you to turn 2 accounts to test accounts:<br>
                            “Buyer account”: <br>
                            Email: buyer-email@example.com<br>
                            Customer ID: 12456789<br>
                            “Merchant account”: <br>
                            Email: merchant-email@example.com<br>
                            Customer ID: 98765421
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayToEmail_OverrideForStore, model => model.PayToEmail, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayToEmail)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PayToEmail)
                        @Html.ValidationMessageFor(model => model.PayToEmail)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.SecretWord_OverrideForStore, model => model.SecretWord, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.SecretWord)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SecretWord)
                        @Html.ValidationMessageFor(model => model.SecretWord)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}